.displayNumber {
	display: flex;
	box-sizing: border-box;
	color: #0D5ADC;
	font-size: 18px;
}

.variant {
	margin-left: 5px;
	cursor: pointer;
	position: relative;
}

.active::after {
	position: absolute;
	left: 1px;
	top: 5px;
	content: "_";
}