.row {
	width: calc(100%);
	box-sizing: border-box;
	border-bottom: solid 1px #CDCFD2;
	display: flex;
	align-items: center;
	height: 100px;
}

.item {
	font-size: 18px;
	font-weight: 500;
	width: 380px;
}

.name {
	color: #A4A9B9;
}