.content {
	box-sizing: border-box;
}

.devices {
	min-width: calc(100% - 200px);
	width: max-content;
	margin: 0 100px;
	padding-top: 30px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 70px;
	border-bottom: solid 1px #CDCFD2;
	box-sizing: border-box;
}

.devices>label {
	width: 210px;
	margin-right: 170px;
}